@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: anzo1;
  src: url(./assets/file.woff2);
}

@font-face {
  font-family: anzo2;
  src: url(./assets/file1.woff2);
}

@font-face {
  font-family: anzo3;
  src: url(./assets/file2.woff2);
}

@font-face {
  font-family: anzo4;
  src: url(./assets/file3.woff2);
}

@font-face {
  font-family: anzo5;
  src: url(./assets/file4.woff2);
}

@font-face {
  font-family: anzo6;
  src: url(./assets/madefor-text.var.original.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  /* overflow-x: hidden; */
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #111;
  overflow-x: hidden;
}

#page1-in {
  position: relative;
  perspective: 1500px;
}

#section2 {
  position: relative;
  perspective: 1800px;
}

#section4 {
  position: relative;
  perspective: 1800px;
}

#tiltDiv {
  /* background-color: red; */
  width: fit-content;
}

.rotateText {
  transform-origin: 100% 70%;
}

.rotateText1 {
  transform-origin: 100% 70%;
}